@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranianSans";
  src: local("IranianSans"), url(./fonts/Iranian\ Sans.ttf) format("truetype");
}

* {
  font-family: IranianSans;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: IranianSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
html {
  direction: rtl;
  @apply text-right;
}

body {
  @apply p-4 overflow-x-hidden !important;
}
